.main{
    right: 145px;
    top: 60px;
    width: 250px;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 12%), 0 6px 6px 0 rgb(0 0 0 / 24%);
    border-radius: 4px;
    
}
.main:hover{
    cursor: pointer;
}

.main::after{
    bottom: 100%;
    right: 16px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 12px solid transparent;
    border-bottom-color: #fff;
}
.pro-img{
    display: inline-flex;
}
.imgg{
    padding: 15px 8px;
    align-items: center;
}
.profile {
    width: 100%;
    align-items: center;
    padding: 20px 6px 7px 10px;
    box-sizing: border-box;
}
._1863T{
    padding: 16px;
    display: block;
    text-decoration: none;
}
.rui-6ayPd{
    display: flex;
    align-items: stretch;
    height: 8px;
}
.rui-1EGXF{
    flex: 1 1 auto;
    margin-right: 4px;
    transition: background-color .3s ease-in-out;
}

.rui-1Z990{
    background-color: #ffce32;
}
.rui-1Z991{
    background-color: #e2dde1;
}


.rui-38RAu{
    font-size: 12px;
    line-height: 18px;
}

.menu{
    border-top: 1px solid rgba(0,47,52,.2);
    padding: 0px 10px 0;
}
.menu-items{
    padding: 10px 10px 0;
}
.items{
    padding: 10px 10px 0;
    height: 48px;
}
.logout{
    padding: 20px 10px 0;
}