.main{
    right: 190px;
    top: 60px;
    width: 250px;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 12%), 0 6px 6px 0 rgb(0 0 0 / 24%);
    border-radius: 4px;
    
}
.main:hover{
    cursor: pointer;
}

.main::after{
    bottom: 100%;
    right: 16px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 12px solid transparent;
    border-bottom-color: #fff;
}